<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>员工卡片</title>
		<link href="../../css/UAform.css" rel="stylesheet">
		<script src="../../js/jquery-1.12.4.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="container" id="cnt">

			<div class="UAform-box" style="max-width:1200px; margin:0 auto;">
				<!--控制整个表单的大小：目前是自适应大小居中，最大1200px-->
				<form>
					<!--整个表单禁用 class="form-disabled" -->

					<div class="UAform-header">
						<h2>员工卡片</h2>

					</div>

					<!--UAform-content start-->
					<div class="UAform-content">
						<!--基本表格表单S-->
						<div class="widget">
							<div class="widget-header" data-toggle="collapse" data-target="#基本信息">
								<h4>基本资料</h4><i class="icon-chevron-down"></i></div>
							<div class="widget-content">
								<div id="基本信息" class="table-responsive collapse in">
									<table class="table table-UAform">
										<tbody>
											<tr>
												<td class="table-label">
													<font class="red">*</font>员工编号</td>
												<!-- 表单被禁用 disabled or readonly -->
												<td class="table-info-left"><input type="text" v-model="emp.employeeid" /></td>
												<td class="table-label">
													<font class="red">*</font>员工姓名</td>
												<td class="table-info-left">
													<input type="text" v-model="emp.empname" />
												</td>
											</tr>
											<tr>
												<td class="table-label">
													<font class="red">*</font>性别</td>
												<td class="table-info-left">
													<select v-model="emp.esex">
														<option value="1" selected="selected">男</option>
														<option value="0">女</option>
													</select>
												</td>
												<td class="table-label">
													<font class="red">*</font>登录账号</td>
												<td class="table-info-left">
													<input name="" type="text" v-model="emp.emplogenid" />
												</td>
											</tr>
											<tr>
												<td class="table-label">
													<font class="red">*</font>登录密码</td>
												<td class="table-info-left">
													<input name="" type="password" v-model="emp.emplogepaw" />
												</td>
												<td class="table-label">
													<font class="red">*</font>所在门店</td>
												<td class="table-info-left">
													<input type="text" v-model="storeName" readonly="readonly" />
													<!--<select v-model="emp.storeid" style="width:100px;">
                        		<option v-for="(te,i) in sto" :value="te.storeid">{{te.storenames}}</option>
                        	</select>-->
												</td>
											</tr>
											<tr>
												<td class="table-label">
													<font class="red">*</font>所在部门</td>
												<!-- 表单被禁用 disabled or readonly -->
												<td class="table-info-left">
													<select v-model="emp.departmentid" style="width:100px;">
														<option v-for="(te,i) in dep" :value="te.departmentid">{{te.depnames}}</option>
													</select>
												</td>
												<td class="table-label">学历</td>
												<td class="table-info-left">
													<select v-model="emp.education" style="width:100px;">
														<option value="大专">大专</option>
														<option value="中专">中专</option>
														<option value="本科">本科</option>
														<option value="硕士">硕士</option>
														<option value="博士">博士</option>
													</select>
												</td>
											</tr>
											<tr>
												<td class="table-label">
													</font>属性</td>
												<td class="table-info-left">
													<select v-model="emp.propertyid">
														<option v-for="(te,i) in pro" :value="te.propertyid">{{te.propertyname}}</option>
													</select>
												</td>
												<td class="table-label">
													</font>毕业学校</td>
												<td class="table-info-left">
													<input name="" type="text" v-model="emp.graduationschool" />
												</td>
											</tr>
											<tr>
												<td class="table-label">
													</font>专业</td>
												<td class="table-info-left">
													<input name="" type="text" v-model="emp.major" />
												</td>
												<td class="table-label">
													</font>身份证号码</td>
												<td class="table-info-left">
													<input name="" type="text" v-model="emp.crrdid" />
												</td>
											</tr>
											<tr>
												<td class="table-label">
													</font>户口地址</td>
												<td class="table-info-left">
													<input name="" type="text" v-model="emp.address" />
												</td>
												<td class="table-label">现居住地址</td>
												<td class="table-info-left">
													<input type="text" v-model="emp.newaddress" />
												</td>
											</tr>
											<tr>
												<td class="table-label">员工联系电话</td>
												<td class="table-info-left">
													<input type="text" v-model="emp.empphone" />
												</td>
												<td class="table-label">紧急联系电话</td>
												<td class="table-info-left">
													<input type="text" v-model="emp.emergencyphone" />
												</td>
											</tr>
											<tr>
												<td class="table-label">Email</td>
												<td class="table-info-left">
													<input type="text" v-model="emp.email" />
												</td>
												<td class="table-label">出生日期</td>
												<td class="table-info-left">
													<input type="date" v-model="emp.brithtimes" />
												</td>
											</tr>
											<tr>
												<td class="table-label">入职时间</td>
												<td class="table-info-left">
													<input type="date" v-model="emp.entrytimes" />
												</td>
												<td class="table-label">员工离职时间</td>
												<td class="table-info-left">
													<input type="date" v-model="emp.lztimes" />
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="UAform-btn">
						<!--<button  class="btn btn-submit"><i class="icon-white icon-arrow-up"></i>提交</button>-->
						<button class="btn btn-save" @click="upd()">保存</button>
						<button class="btn btn-remove">取消</button>
					</div>
				</form>
			</div>
		</div>

	</body>
	<script src="../../js/jquery-1.12.4.js" type="text/javascript"></script>
	<script src="../../js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../layui/layui.js" type="text/javascript"></script>
	<script src="../../js/jq_ajax_config.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script>
		var empUpd = new Vue({
			el: "#cnt",
			data: {
				storeName: "",
				dep: [],
				pro: [],
				sto: [],
				employee: {
					storeid: "1001"
				},
				emp: {},
				eid: ""
			},
			created: function() {
				let _this = this;
				this.eid = window.sessionStorage.getItem("eid");
				jQuery.getJSON(`http://127.0.0.1:8080/api/dep/deps`, function(data) {
					_this.dep = data;
				});
				jQuery.getJSON(`http://127.0.0.1:8080/api/pro/pros`, function(data) {
					_this.pro = data;
				});
				jQuery.getJSON(`http://127.0.0.1:8080/api/sto/stos`, {
					"storeid": this.employee.storeid
				}, function(data) {
					_this.emp.storeid = data.storeid;
					_this.storeName = data.storenames;
				});
				this.danCha();
			},
			methods: {
				danCha() {
					let _this = this;
					jQuery.getJSON("http://127.0.0.1:8080/api/emp/emp", {
						"employeeid": this.eid
					}, function(da) {
						_this.emp = da;
					});
				},
				upd() {
					let _this = this;
					jQuery.ajax({
						url: "http://127.0.0.1:8080/api/emp/upd",
						type: "put",
						dataType: "json",
						contentType: "application/json", //非常重要
						data: JSON.stringify(this.emp), //提交json数组
						success: function(te) {
							if(te.code == '200') {
								alert("修改成功！");
								parent.emp.show(1, 2, 0); //调用父亲vue里面的方法  car就是函数名 var car=new Vue({})
								var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
								parent.layer.close(index);

							} else {
								alert("修改失败！");
							}
						}
					});
				}
			}
		});
	</script>

</html>