<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="../../css/bootstrap-treeview.css" />
	<link rel="stylesheet" href="../../css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	<style>
	  .el-table .warning-row {
	    background: oldlace;
	  }
	
	  .el-table .success-row {
	    background: #f0f9eb;
	  }
	</style>
	<body style="background: #f5f5f5;">
		<div class="container-fluid" id="repair">
			<div class="row">
				<div class="col-sm-4">
					<h2 class="form-group" style="float: left;margin-left: 50px;">维修项目</h2>
					<div class="form-group" style="float: right;margin-top: 20px;">
						<el-input placeholder="匹配编码/名称/名称简码" v-model="option" clearable></el-input>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group" style="margin-bottom: 0px;float: left;margin-top: 20px;" id="nac1">
						<el-form :inline="true" :model="item" ref="item" class="demo-form-inline">
							
							<el-form-item>
								<el-button type="primary" @click="getRepairByOption">查询</el-button>
								<el-button type="primary" @click="addRepair">增加</el-button>
								<el-button type="primary" @click="addRepair">导出</el-button>
								<el-button type="primary" @click="addRepair">关闭</el-button>
							</el-form-item>
							
							<el-form-item label="类别名称" prop="itemTypeName" :rules="[{ required: true, message: '请输入类别名称'}]" >
								<el-input placeholder="类别名称" v-model="item.itemTypeName"  clearable></el-input>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="addItem('item')">增加项目类别</el-button>
							</el-form-item>
						</el-form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div id="tree" class="col-md-12" style="height: 490px;overflow: scroll;"></div>
				</div>
				<div class="col-sm-9">
					<template>
						<el-table :row-class-name="tableRowClassName" :data="repair" style="width: 100%" height="490px">
							<el-table-column fixed prop="rid" label="项目编码" width="130">
							</el-table-column>
							<el-table-column prop="repairname" label="项目名称" width="250">
							</el-table-column>
							<el-table-column prop="rjbmoney" label="标准价" width="120">
							</el-table-column>
							<el-table-column prop="rhymoney" label="会员价" width="120">
							</el-table-column>
							<el-table-column prop="rvipmoney" label="Vip价" width="120">
							</el-table-column>
							<el-table-column prop="repxyperice" label="协议价" width="120">
							</el-table-column>
							<el-table-column label="操作" width="250">
								<template slot-scope="scope">
									<el-button size="mini" @click="update(scope.row.rid)">编辑</el-button>
									<el-button size="mini"  type="success" plain @click="UpState(scope.row.rid,scope.row.state)">上架</el-button>
									<el-button size="mini"  type="danger" plain @click="DownState(scope.row.rid,scope.row.state)">下架</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
			</div>
			<!--新增维修项目模态框-->
			<el-dialog title="新增维修项目" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
				<span>
					<el-form :model="repairs" size="mini" :rules="rules" ref="repairs" label-width="100px" class="demo-ruleForm">
						<el-form-item label="项目编码" prop="rid">
							<el-input v-model="repairs.rid"></el-input>
						</el-form-item>
						<el-form-item label="项目名称" prop="repairname">
							<el-input v-model="repairs.repairname"></el-input>
						</el-form-item>
						<el-form-item label="标准价" prop="rjbmoney">
							<el-input v-model="repairs.rjbmoney"></el-input>
						</el-form-item>
						<el-form-item label="会员价" prop="rhymoney">
							<el-input v-model="repairs.rhymoney"></el-input>
						</el-form-item>
						<el-form-item label="Vip价" prop="rvipmoney">
							<el-input v-model="repairs.rvipmoney"></el-input>
						</el-form-item>
						<el-form-item label="协议价" prop="repxyperice">
							<el-input v-model="repairs.repxyperice"></el-input>
						</el-form-item>
						<el-form-item label="项目备注" prop="repevent">
							<el-input v-model="repairs.repevent"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="submitForm('repairs')">立即创建</el-button>
							<el-button @click="resetForm('repairs')">重置</el-button>
						</el-form-item>
					</el-form>
				</span>
			</el-dialog>
			<!--编辑维修项目模态框-->
			<el-dialog title="编辑维修项目" :visible.sync="dialogVisible1" width="30%" :before-close="handleClose">
				<span>
					<el-form :model="repairs" size="mini" :rules="rules" ref="repairs" label-width="100px" class="demo-ruleForm">
						<el-form-item label="项目编码" prop="rid">
							<el-input v-model="repairs.rid" disabled="disabled"></el-input>
						</el-form-item>
						<el-form-item label="项目名称" prop="repairname">
							<el-input v-model="repairs.repairname"></el-input>
						</el-form-item>
						<el-form-item label="标准价" prop="rjbmoney">
							<el-input v-model="repairs.rjbmoney"></el-input>
						</el-form-item>
						<el-form-item label="会员价" prop="rhymoney">
							<el-input v-model="repairs.rhymoney"></el-input>
						</el-form-item>
						<el-form-item label="Vip价" prop="rvipmoney">
							<el-input v-model="repairs.rvipmoney"></el-input>
						</el-form-item>
						<el-form-item label="协议价" prop="repxyperice">
							<el-input v-model="repairs.repxyperice"></el-input>
						</el-form-item>
						<el-form-item label="项目备注" prop="repevent">
							<el-input v-model="repairs.repevent"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="submitForm1('repairs')">立即编辑</el-button>
							<el-button @click="resetForm('repairs')">重置</el-button>
						</el-form-item>
					</el-form>
				</span>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-treeview.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="../../layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script src="../../js/index1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var repair = new Vue({
			el: "#repair",
			data: {
				trees: [],
				repair: [],
				itemId: "",
				loading: true,
				dialogVisible: false,
				dialogVisible1: false,
				repairs: {
					rid: "",
					ftype: "",
					xtype: "",
					repairname: "",
					repevent: "",
					rjbmoney: "",
					rhymoney: "",
					rvipmoney: "",
					repxyperice: "",
				},
				rules: {
				  rid: [
					{ required: true, message: '项目编号', trigger: 'blur' },
				  ],
				  repairname: [
					{ required: true, message: '请输入项目名称', trigger: 'blur' },
				  ],
				  repevent: [
					{ required: false, message: '请输入项目备注', trigger: 'blur' },
				  ],
				  rjbmoney: [
					{ required: true, message: '请输入标准价格', trigger: 'blur' },
				  ],
				  rhymoney: [
					{ required: false, message: '请输入会员价格', trigger: 'blur' },
				  ],
				  rvipmoney: [
					{ required: true, message: '请输入Vip价格', trigger: 'blur' },
				  ],
				  repxyperice: [
					{ required: false, message: '请输入协议价格', trigger: 'blur' },
				  ]
				},
				option:"",
				item:{
					itemTypeName:"",
					parentId:"",
				},
				arr:[],
			},
			methods: {
				addItem(formName){
					let _this=this;
					this.$refs[formName].validate((valid) => {
					  if (valid) {
						  if(!_this.repairs.xtype){
							_this.item.parentId=0;
						  }else{
							_this.item.parentId=_this.repairs.xtype;
						  }
						  _this.addItemType();
					  } else {
						console.log('error submit!!');
						return false;
					  }
					});
				},
				addItemType(){
					let _this=this;
					console.log(this.item);
					jQuery.ajax(`http://127.0.0.1:8080/api/reps/type/add`, {
						type: 'post',
						data: JSON.stringify(_this.item),
						contentType: "application/json",
						success(data) {
							if (data.code == "200") {
								 _this.$message({
								  showClose: true,
								  message: '类别新增成功',
								  type: 'success'
								});
								window.location.reload();
							}else{
								_this.$message.error('好可惜！新增失败了奥');
							}
						}
					});
				},
				DownState(rid,state) {
					let _this=this;
					if(state==0){
						_this.$message.error("此商品已经下架");
						return;
					}
					if (confirm("确认下架此项目吗？")) {
						jQuery.ajax(`http://127.0.0.1:8080/api/reps/rep/modifyDownState/${rid}`, {
							type: 'post',
							contentType: "application/json",
							success(data) {
								if (data.code == "200") {
									_this.$message({
									  showClose: true,
									  message: '下架成功',
									  type: 'success'
									});
									_this.getRepair();
								}else{
									_this.$message.error('下架失败');
								}
							}
						});
					}
				},
				UpState(rid,state) {
					let _this=this;
					if(state==1){
						_this.$message.error("此商品已经上架");
						return;
					}
					jQuery.ajax(`http://127.0.0.1:8080/api/reps/rep/modifyUpState/${rid}`, {
						type: 'post',
						contentType: "application/json",
						success(data) {
							if (data.code == "200") {
								_this.$message({
								  showClose: true,
								  message: '上架成功',
								  type: 'success'
								});
								_this.getRepair();
							}else{
								_this.$message.error('上架失败');
							}
						}
					});
				},
				submitForm(formName) {
					let _this=this;
					this.$refs[formName].validate((valid) => {
					  if (valid) {
						jQuery.ajax(`http://127.0.0.1:8080/api/reps/rep/add`, {
							type: 'post',
							data: JSON.stringify(_this.repairs),
							contentType: "application/json",
							success(data) {
								if (data.code == "200") {
									_this.itemId=_this.repairs.xtype;
									_this.resetForm('repairs');
									_this.dialogVisible = false;
									_this.$message({
									  message: '新增项目成功！',
									  type: 'success'
									});
									_this.getRepair();
								}else{
									_this.$message.error('好可惜！新增失败了奥');
								}
							}
						});
					  } else {
						console.log('error submit!!');
						return false;
					  }
					});
				},
				submitForm1(formName) {
					let _this=this;
					console.log(_this.repairs);
					this.$refs[formName].validate((valid) => {
					  if (valid) {
						jQuery.ajax(`http://127.0.0.1:8080/api/reps/rep/modify`, {
							type: 'post',
							data: JSON.stringify(_this.repairs),
							contentType: "application/json",
							success(data) {
								if (data.code == "200") {
									_this.itemId=_this.repairs.xtype;
									_this.resetForm('repairs');
									_this.dialogVisible1 = false;
									_this.$message({
									  message: '项目编辑成功！',
									  type: 'success'
									});
									_this.getRepair();
								}else{
									_this.$message.error('好可惜！项目编辑失败了奥');
								}
							}
						});
					  } else {
						console.log('error submit!!');
						return false;
					  }
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				addRepair() {
					console.log(this.repairs.xtype + "\t" + this.repairs.ftype);
					if (!this.repairs.xtype && !this.repairs.ftype) {
						this.$notify.error({
							title: '错误',
							message: '请先选择项目类型'
						});
						return;
					}
					this.dialogVisible = true;
				},
				handleClose(done) {
					let _this=this;
					this.$confirm('确认关闭？').then(_ => {
							_this.clearOne();
							done();
						})
						.catch(_ => {});
				},
				clearOne(){
					for (x in this.repairs) {
						if(x=="ftype" || x=="xtype"){
							continue;
						}
						this.repairs[x] = "";
					}
				},
				update(rid) {
					let _this=this;
					jQuery.getJSON(`http://127.0.0.1:8080/api/reps/rep/${rid}`, function(pg) {
						_this.repairs = pg;
					});
					this.dialogVisible1=true;
				},
				getRepair() {
					let _this = this;
					let id = null;
					if (this.itemId != "") {
						id = this.itemId;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/api/reps/${id}`, function(pg) {
						_this.repair = pg;
					});
				},
				getRepairByOption(){
					let _this = this;
					let name = null;
					if (this.option != "") {
						name = this.option;
						jQuery.getJSON(`http://127.0.0.1:8080/api/reps/getRep/${name}`, function(pg) {
							_this.repair = pg;
						});
					}else{
						_this.getRepair();
					}
					
				},
				tableRowClassName({row, rowIndex}) {
					if (row.state==0) {
					  return 'warning-row';
					}
					return '';
				  },
				getTree(node) {
					//节点上的数据遵循如下的格式：
					var tree = [{
						text: "维修项目类别", //节点显示的文本值  string
						icon: "glyphicon glyphicon-play-circle", //节点上显示的图标，支持bootstrap的图标  string
						selectedIcon: "glyphicon glyphicon-ok", //节点被选中时显示的图标       string
						color: "#ff0000", //节点的前景色      string
						backColor: "#1606ec", //节点的背景色      string
						href: "#http://www.baidu.com", //节点上的超链接
						selectable: true, //标记节点是否可以选择。false表示节点应该作为扩展标题，不会触发选择事件。  string
						state: { //描述节点的初始状态    Object
							checked: true, //是否选中节点
							/*disabled: true,*/ //是否禁用节点
							expanded: true, //是否展开节点
							selected: true //是否选中节点
						},
						tags: ['标签信息1', '标签信息2'], //向节点的右侧添加附加信息（类似与boostrap的徽章）    Array of Strings
						nodes: node,
					}];
					return tree;
				},
				getTreeDemo() {
					let _this = this;
					$.ajaxSettings.async = false;
					jQuery.getJSON(`http://127.0.0.1:8080/api/reps/getItemTree`, function(pg) {
						_this.trees = pg;
						$('#tree').treeview({
							data: _this.getTree(pg) //节点数据
						});
					});
				}
			},
			mounted() {
				this.getTreeDemo();
				this.getRepair();
			}
		})
		$('#tree').on('nodeSelected', function(event, data) {
			repair.itemId = data.id; //获取点击的树状id		
			if (!$('#tree').treeview('getParent', data).id) {
				repair.repairs.ftype = 0;
			} else {
				repair.repairs.ftype = $('#tree').treeview('getParent', data).id;
			}
			repair.repairs.xtype = data.id;
			console.log(repair.repairs.ftype+"\t"+repair.repairs.xtype);
			repair.getRepair();
		});
	</script>
</html>
